.header {
  background: var(--Bg, #ffffff);
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo-inner {
    align-items: center;
    display: flex;
    gap: 20px;

    .header__text {
      width: 180px;
      padding-top: 10px;
    }
  }

  &__connection {
    display: flex;
    gap: 50px;
  }

  .connection {
    padding-top: 25px;
    gap: 85px;

    &__inner {
      max-width: 313px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 5px;

      &-text {
        color: var(--Color-a, #614f44);
        font-weight: 700;

        &:hover {
          color: var(--Color-a, #000000);
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .header {
    &__inner {
      width: 90vw;
    }
    .connection__inner {
      padding-right: 15px;
    }
  }
}
@media screen and (max-width: 1130px) {
  .header {
    .connection {
      gap: 25px;
    }
  }
}
@media (max-width: 985px) {
  .header {

    &__inner {
      gap: 50px;
    }

    &__logo-inner {
      gap: 20px;
    }

    .connection {
      gap: 50px;


      &__text {
        display: none;
      }

      &__link-text {
        display: none;
      }

      &__link {
        &-icon {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__inner {
      margin: 0 20px;
      gap: 0;
      align-items: center;
    }
    &__text {
      display: none;
    }

    &__logo {
      width: 66px;
      height: 50px;
    }

    &__inner {
      justify-content: space-between;
    }

    &__logo-inner {
      display: block;
      padding-top: 12px;

      h4 {
        width: 160px;
      }
    }

    .connection {
      padding-top: 20px;
      gap: 20px;

      &__link {
        &-icon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 475px) {
}

@media (max-width: 375px) {
  .header {
    &__inner {
      padding-left: 5px;
      margin: 0 0 0 20px;
      gap: 0;
    }
    &__logo-inner {
      width: 30vw;
    }
    .connection {
      padding-top: 30px;
      gap: 5px;
    }
  }
}
