<header class="header">
  <div class="header__inner container">
    <div class="header__logo-inner">
      <img class="header__logo" src="@img/icon/Logo.png" alt="" />
      <h4 class="header__text headerText">Производство торговых павильонов под ключ</h4>
    </div>
    <div class="header__connection connection">
      <div class="connection__inner">
        <h4 class="connection__text headerText">
          Если у Вас есть готовое техническое задание для расчёта стоимости,
          высылайте на email:
        </h4>
        <div class="connection__link">
          <img
            class="connection__link-icon"
            src="@img/icon/Mail.png"
            alt="zakaz@mail.ru"
          />
          <a href="mailto:zakaz@mail.ru"
            ><h3 class="connection__link-text">zakaz@mail.ru</h3></a
          >
        </div>
      </div>
      <div class="connection__inner">
        <h3 class="connection__text headerText">Звоните, мы сейчас на связи</h3>
        <div class="connection__link">
          <img
            class="connection__link-icon"
            src="@img/icon/Phone.png"
            alt="+7 918 03 555 02"
          />
          <a href="tel:+79180355502"
            ><h2 class="connection__link-text">+7 918 03 555 02</h2></a
          >
        </div>
      </div>
    </div>
  </div>
</header>
