@media (max-width: 2500px) {
    .advantages {
        background-position: right 45px;
    }

    .portfolio {
        .swiper--standart {
            &__button-next {
                width: 3vw;
                height: 3vw;

                &::after {
                    font-size: 30px;
                    padding-left: 5px;
                }
            }

            &__button-prev {
                width: 3vw;
                height: 3vw;

                &::after {
                    font-size: 30px;
                    padding-right: 5px;
                }
            }
        }
    }
}

@media (max-width: 2000px) {
    .advantages {
        background-position: 635px 45px;
    }
}

@media (max-width: 1750px) {
    .advantages {
        background-position: 500px 45px;
    }
}

@media (max-width: 1550px) {
    .advantages {
        background-position: 400px 45px;
    }

    .dignities {
        &__info {
            h5 {
                width: 60vw;
            }
        }
    }

    .dignities {
        .grid {
            grid-template-columns: repeat(22, 2.6vw);
        }
    }

    .portfolio {
        &__inner {
            margin: 0 auto;
        }

        .swippers {
            width: 100%;
            height: 100%;
        }

        .swiper--standart {
            &__button-next {

                &::after {
                    font-size: 22px;
                }
            }

            &__button-prev {

                &::after {
                    font-size: 22px;
                }
            }
        }
    }
}


@media (max-width: 1315px) {
    .promo {

        &__abstraction {
            height: 60vh;
        }

        &__img {
            right: 0.8rem;
            top: 5rem;
            width: 35rem;
        }
    }

    .block__shadow {
        bottom: 0;
        left: 0;
    }

    .trade-offer {
        &__inner {
            width: 90vw;
            height: 1300px;
            background-position-y: top;
        }

        &__img {
            bottom: 0;
            display: none;
        }

        &__img-inner {
            display: block;
            position: absolute;
            bottom: 0;
            height: auto;
            left: 15vw;
        }


        &__info {
            width: 90vw;
            position: sticky;
            margin: 0 auto;

            h5 {
                width: 70vw;
            }
        }

        &__button {
            margin-bottom: 20px;
        }
    }

    .advantages {
        background-position: 360px 220px;

        &__inner {
            background-position: 100px 300px;
        }

        &__info {
            margin-left: 5vw;
        }

        &__blocks {
            margin-left: 5vw;
        }

        .block-shadow {
            height: 100px;
        }
    }

    .dignities {
        &__inner {
            margin: 0 40px;
            padding-bottom: 20px;
            margin-top: -50px;
        }

        &__info {
            h5 {
                width: 70vw;
            }
        }

        .grid {
            grid-template-columns: repeat(22, 2.3vw);

            &__item {
                padding: 10px;
            }
        }
    }

    .portfolio {
        &__inner {
            width: 90vw;
        }
    }
}



@media (max-width: 985px) {
    .header {

        &__inner {
            gap: 50px;
            justify-content: center;

        }

        &__logo-inner {

            gap: 20px;

        }

        .connection {
            gap: 50px;

            &__inner {

                h4,
                h3,
                h2 {
                    display: none;
                }

            }

            &__link {

                &-icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }

    }

    .promo {
        background-position-x: 40px;
        background-size: 100% 33%;
        padding-top: 50px;

        &__img {
            display: none;

        }

        &__info {
            padding-left: 30px;
            padding-right: 20px;
        }


        &__button {

            margin: 20px 0 50px;

        }

        &__down {
            padding: 0 20px;
            display: flex;
            justify-content: center;

            &--img {
                z-index: 2;
                width: 35rem;
                height: 29rem;
                object-fit: scale-down;

            }
        }

        .convenience {
            padding-left: 30px;
            padding-right: 20px;

            &__inner {
                background: linear-gradient(270deg, #e9e9e9 0%, rgba(255, 255, 255, 0.322) 1%);
            }
        }

    }

    .block__shadow {
        height: 300px;
    }


    .trade-offer {
        &__inner {
            background-position-y: center;
        }

        &__img-inner {
            display: block;
            position: absolute;
            bottom: 0;
            height: auto;
            left: 0;
        }

    }

    .advantages {
        background-position: center bottom;

        &__inner {
            background-position: 100px 300px;
            height: 1350px;
        }
    }

    .dignities {
        &__info {
            h5 {
                width: 78vw;
            }
        }

        .grid {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(1vh, auto);

            &__item {
                &-A {
                    grid-column: 1/2;
                    grid-row: 1/10;
                }

                &-B {
                    grid-column: 2/3;
                    grid-row: 1/10;
                }

                &-C {
                    grid-column: 1/3;
                    grid-row: 10/18;
                    line-height: 3.7;

                    .orange {
                        margin: 0;
                    }

                }

                &-D {
                    grid-column: 1/3;
                    grid-row: 18/26;
                    line-height: 3.7;

                }

                &-E {
                    grid-column: 1/3;
                    grid-row: 26/32;

                }

                &-F {
                    grid-column: 1/3;
                    grid-row: 32/38;

                    h2 {
                        margin-top: 3rem;
                    }
                }

                &-G {
                    grid-column: 1/3;
                    grid-row: 38/44;

                }

                &-H {
                    grid-column: 1/3;
                    grid-row: 44/50;

                }
            }
        }
    }

    .footer {

        &__content {}

        &__top {
            flex-direction: column;
        }

        .connection {
            flex-direction: column;
            gap: 20px;
        }

        &__bottom {
            flex-direction: column;
        }

        &__item {
            margin-left: 20vw;

            &--icon {
                margin-bottom: 40px;

                h4 {
                    width: 40vw;
                    font-size: 24px;
                }
            }
        }
    }

}

@media (max-width: 775px) {
    .promo {
        background-position-x: 40px;
        background-size: 100% 36%;
    }

    .trade-offer {
        &__inner {
            height: 1320px;
        }
    }

    .advantages {
        background-position: center bottom (-10px);
        background-size: 170%;
        padding-bottom: 0;

        &__inner {
            background-position: center top (100px);
            height: 1500px;
        }

        &__info {
            width: 85vw;
        }

        &__blocks {
            margin: 0 auto;
            align-items: flex-start;
            display: flex;
            flex-direction: column;

            &--double {
                margin: 0 auto;
                width: 90vw;
            }
        }

        &__block {
            margin: 0 auto;
            width: 90vw;
        }
    }


    .footer {
        &__item {
            margin-left: 10vw;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__inner {
            margin: 0 20px;
            gap: 0;
        }

        &__logo {
            width: 66px;
            height: 50px;
        }

        &__inner {
            gap: 50px;
            justify-content: space-between;
        }

        &__logo-inner {
            display: block;
            padding-top: 12px;

            h4 {
                width: 160px;
            }
        }

        .connection {
            padding-top: 40px;
            gap: 20px;

            &__link {

                &-icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .promo {
        background-position-x: 20px;
        background-size: 100% 34%;

        &__under {
            display: none;
        }

        &__abstraction {
            height: 65vh;
        }

        &__info {
            padding-left: 15px;
        }

        &__button {

            margin: 20px 0 50px;

        }

        .convenience {
            flex-direction: column;
            padding-left: 15px;

            &__inner {
                width: 65vw;
                border-radius: 0px;
                background: linear-gradient(0deg, #e9e9e9 0%, #fffffff8 7%);
                height: 100px;

                &--3 {
                    background: linear-gradient(0deg, #e9e9e9 0%, #fffffff8 0%);
                }

            }

            &__info {
                width: 65vw;

            }
        }
    }

    .trade-offer {
        &__inner {
            height: 1250px;
        }

        &__info {
            width: 80vw;
            padding-right: 0;

            h5 {
                margin-left: 0;
            }

            h3 {
                width: 80vw;
            }
        }

        &__name {
            margin-left: 0;
        }

        &__text {
            h3 {
                margin-left: 0;
            }
        }

        &__button {
            margin: 0;
        }
    }

    .advantages {
        background-size: 200%;
        background-position: center bottom (-100px);
        padding-top: 50px;

        &__inner {
            background-position: center top 160px;
        }
    }

    .dignities {
        &__inner {
            margin: 0 20px;
        }

        &__info {
            margin-left: 20px;
        }

        .grid {
            margin: 0 20px;

            &__item {
                &-F {
                    h2 {
                        margin-top: 35px;
                    }
                }
            }
        }
    }

    .portfolio {
        .swipers {
            .swiper {
                &--standart {
                    &__button-next {
                        width: 7vw;
                        height: 7vw;

                        &::after {
                            font-size: 17px;
                            padding-left: 2px;
                        }
                    }

                    &__button-prev {
                        width: 7vw;
                        height: 7vw;


                        &::after {
                            font-size: 17px;
                            padding-right: 2px;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 475px) {

    h1,
    h5 {
        font-size: 38px;
    }

    .promo {
        background-position-x: 25px;
        background-size: 100% 33%;
    }

    .trade-offer {
        &__inner {
            height: 1070px;
        }

        &__button {
            width: 250px;
            height: 60px;
        }
    }

    .advantages {
        background-color: #F5F4F4;
        background-size: 175%;
        background-position: center bottom (-20px);

        &__inner {
            background-position: center top (145px);
            height: 1380px;
        }
    }

    .dignities {
        .grid {
            &__item {
                &-F {
                    h2 {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .footer {
        &__content {
            margin: 120px 20px 0;
        }

        &__item {
            margin-left: 1vw;
        }
    }
}