@media (max-width: 985px) {
    .header {

        &__inner {
            gap: 50px;
            justify-content: center;
        }

        &__logo-inner {

            gap: 20px;

        }

        .connection {
            gap: 50px;

            &__inner {

                h4,
                h3,
                h2 {
                    display: none;
                }

            }

            &__link {

                &-icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }

    }
}

@media (max-width: 550px) {
    .header {
        .container {
            padding: 0 16px;
            gap: 0;
        }

        &__logo {
            width: 66px;
            height: 50px;
        }

        &__inner {
            gap: 50px;
            justify-content: space-between;
        }

        &__logo-inner {
            display: block;
            padding-top: 12px;

            h4 {
                width: 160px;
            }
        }

        .connection {
            padding-top: 40px;
            gap: 20px;

            &__link {

                &-icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}