@media (max-width: 1315px) {
    .promo {

        &__abstraction {
            height: 60vh;
        }

        &__img {
            right: 0.8rem;
            top: 5rem;
            width: 35rem;
        }
    }

    .trade-offer {
        &__inner {
            width: 90vw;
            height: 1300px;
            background-position-y: top;
        }

        &__img {
            bottom: 0;
            display: none;
        }

        &__img-inner {
            display: block;
            position: absolute;
            bottom: 0;
            height: auto;
            left: 15vw;
        }


        &__info {
            width: 90vw;
            position: sticky;
            margin: 0 auto;

            h1 {
                width: 70vw;
            }
        }

        &__button {
            margin-bottom: 20px;
        }
    }
    .advantages {
        background-position: 350px 85px;
        &__inner {
            background-position: 100px 30px;
        }
    
        &__info {
            margin-left: 5vw;
            h1 {
                u {}
            }
    
            h2 {}
        }
    
        &__blocks {
            margin-left: 5vw;
            &--double {}
        }
    
        &__block {}
    
        &__icon {}
    
        &__text {
            h3 {}
        }
    }
}





@media (max-width: 985px) {
    .header {

        &__inner {
            gap: 50px;
            justify-content: center;
            
        }

        &__logo-inner {

            gap: 20px;

        }

        .connection {
            gap: 50px;

            &__inner {

                h4,
                h3,
                h2 {
                    display: none;
                }

            }

            &__link {

                &-icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }

    }

    .promo {
        padding-top: 50px;

        &__under {
            display: none;
        }

        &__abstraction {
            height: 53vh;
        }

        &__img {
            display: none;

        }

        &__info {
            padding-left: 30px;
            padding-right: 20px;
        }


        &__button {

            margin: 20px 0 50px;

        }

        &__down {
            padding: 0 20px;
            display: flex;
            justify-content: center;

            &--img {
                z-index: 2;
                width: 35rem;
                height: 29rem;
                object-fit: scale-down;

            }
        }

    }

    .convenience {
        padding-left: 30px;
        padding-right: 20px;

    }

    .trade-offer {
        &__inner {
            background-position-y: center;
        }
        &__img-inner {
            display: block;
            position: absolute;
            bottom: 0;
            height: auto;
            left: 0;
        }

    }

}

@media (max-width: 775px) {
    .trade-offer {
        &__inner {
            height: 1320px;
        }
    }
}

@media (max-width: 600px) {
    .header {
        .container {
            margin: 0 20px;
            gap: 0;
        }

        &__logo {
            width: 66px;
            height: 50px;
        }

        &__inner {
            gap: 50px;
            justify-content: space-between;
        }

        &__logo-inner {
            display: block;
            padding-top: 12px;

            h4 {
                width: 160px;
            }
        }

        .connection {
            padding-top: 40px;
            gap: 20px;

            &__link {

                &-icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .promo {

        &__under {
            display: none;
        }

        &__abstraction {
            height: 65vh;
        }

        &__info {
            padding-left: 15px;
        }


        &__button {

            margin: 20px 0 50px;

        }

        .convenience {
            flex-direction: column;
            padding-left: 15px;

            &__inner {
                width: 65vw;
                border-radius: 0px;
            }

            &__info {
                width: 65vw;

            }
        }
    }

    .trade-offer {
        &__inner {
            height: 1250px;
        }

        &__info {
            width: 80vw;
            padding-right: 0;

            h1 {
                margin-left: 0;
            }

            h3 {
                width: 80vw;
            }
        }

        &__name {
            margin-left: 0;
        }

        &__text {
            h3 {
                margin-left: 0;
            }
        }

        &__button {
            margin: 0;
        }
    }
    .advantages {
        &__inner {}
    
        &__info {
            h1 {
                u {}
            }
    
            h2 {}
        }
    
        &__blocks {
            &--double {}
        }
    
        &__block {}
    
        &__icon {}
    
        &__text {
            h3 {}
        }
    }
}

@media (max-width: 475px) {
    h1 {
        font-size: 38px;
    }
    .trade-offer {
        &__inner {
            height: 1070px;
        }
        &__button {
            width: 250px;
            height: 60px;
        }
    }
    .advantages {
        &__inner {}
    
        &__info {
            h1 {
                u {}
            }
    
            h2 {}
        }
    
        &__blocks {
            &--double {}
        }
    
        &__block {}
    
        &__icon {}
    
        &__text {
            h3 {}
        }
    }
}