@font-face{
	font-family: Englishscriptc;
	font-display: swap;
	src: url("../fonts/Englishscriptc.woff2") format("woff2"), url("../fonts/Englishscriptc.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Datacron;
	font-display: swap;
	src: url("../fonts/Datacron.woff2") format("woff2"), url("../fonts/Datacron.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
