@media (max-width: 375px) {
    .header {
        &__inner {
            padding-left: 5px;
            margin: 0 0 0 20px;
            gap: 0;
        }
        &__logo-inner {
            width: 30vw;
        }
        .connection {
            padding-top: 30px;
        }
    }
    .promo {
        background-size: 100% 24%;
        padding-top: 75px;
        &__abstraction {
            height: 35vh;
            left: 24px
        }
        &__button {
            width: 75vw;
        } 
        &__down {
            padding: 0;
            
            &--img {
                height: 25vh;
                margin-top: 30px;

            }
        }
        .convenience {
            &__info {
                padding-bottom: 25px;
            }
        }
    }
    .block__shadow {
        height: 150px;
    }
    .trade-offer {
        &__inner {
            height: 850px;
        }

        &__button {
            width: 75vw;
        }
    }
    .advantages {
        background-position: center bottom (-10px);

        &__inner {
            height: 1150px;
            background-position: center top (10px);
        }
    }
    .dignities {
        &__info {
            h5 {
                width: 70vw;
            }
        }
        .grid {
            &__item {

                &-E {
                    grid-row: 26/28;
                    .orange {
                        color: var(--Color-a, #614F44);
                    }
                }

                &-F {
                    grid-row: 28/30;
                    h2 {
                        margin-top: 0;
                    }
                }

                &-G {
                    grid-row: 30/32;;
                    .orange {
                        color: var(--Color-a, #614F44);
                    }
                }

                &-H {
                    grid-column: 1/3;
                    grid-row: 32/38;

                }
            }
        }
    }
    .portfolio {
        .card-info {
            .cost {

                &__button {
                    width: 75vw;
                }

                &__money {
                    gap: 10px;
                    h3 {
                        width: 75px;
                    }
                    h2 {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .footer {
        &__item {
            &--icon {
                h4 {
                    font-size: 14px;
                }
            }
        }
    }
}