@media (max-width: 375px) {
    .promo {
        padding-top: 75px;
        &__abstraction {
            height: 35vh;
            left: 24px
        }
        &__button {
            width: 75vw;
        } 
        &__down {
            padding: 40px 0 0;
            
            &--img {
                height: 35vh;

            }
        }
        .convenience {
            &__info {
                padding-bottom: 25px;
            }
        }
    }
    .trade-offer {
        &__inner {
            height: 850px;
        }

        &__button {
            width: 75vw;
        }
    }
    .advantages {
        background-position: center bottom (-10px);

        &__inner {
            height: 1150px;
            background-position: center top (10px);
        }
    }
}