<section class="advantages" style="background-image: url(@img/main/advantages.png); background-repeat: no-repeat;">
    <div class="advantages__inner container"
        style="background-image: url(@img/main/Bg.png); background-repeat: no-repeat;">

        <div class="advantages__info">
            <h5>Мы знаем <u class="grey-color"> сотни нюансов в строительстве павильонов. </u> </h5>
            <h2>Это ограждает Вас от переплат, разрушений и других последствий неправильного монтажа</h2>
        </div>

        <div class="advantages__blocks">

            <div class="advantages__blocks--double">

                <div class="advantages__block">

                    <img src="@img/icon/Size-2.png" alt="Size" class="advantages__icon">
                    <div class="advantages__text">
                        <h3>Ваш павильон будет точно соответствовать чертежу‚ а цена работ не изменится ни на рубль.
                        </h3>
                    </div>

                </div>

                <div class="advantages__block">

                    <img src="@img/icon/Quality.png" alt="Quality" class="advantages__icon">
                    <div class="advantages__text">
                        <h3>Не экономим на качестве. Все материалы, используемые при строительстве павильонов
                            имеютсертификаты качества.</h3>
                    </div>

                </div>

            </div>

            <div class="advantages__block">

                <img src="@img/icon/Checklist.png" alt="Checklist" class="advantages__icon">
                <div class="advantages__text">
                    <h3>Каждый этап производства контролируется и принимается отдельно по чек-листу.</h3>
                </div>

            </div>

        </div>
    </div>
    <div class="block-shadow"></div>
</section>