<!DOCTYPE html>
<html lang="ru">
@@include('../layouts/head.html', {
"title" :"Главная"
})

<body>
    @@include('../layouts/header.html', {})
    <main>
        <div class="wrapper">

            <div class="swiper">
                
                <!-- Additional required wrapper -->                
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="../../img/10054-5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="../../img/10057-2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="../../img/10060-6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="../../img/10062-3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="../../img/10064-7.jpg" alt=""></div>
                </div>
                
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>

            </div>
        </div>

    </main>
    @@include('../layouts/footer.html', {})
    <script src="js/app.min.js"></script>
</body>

</html>