<!DOCTYPE html>
<html lang="ru">
    @@include('../layouts/head.html', {
    "title" :"Главная"
    })

    <body>
        @@include('../layouts/header.html', {})
        <main>
            @@include('../layouts/top.html', {})
            @@include('../layouts/promo.html', {})
            @@include('../layouts/projects-cards.html', {})
            @@include('../layouts/advantages.html', {})
        </main>
        @@include('../layouts/footer.html', {})
        <script src="js/app.min.js"></script>
    </body>
</html>