<!DOCTYPE html>
<html lang="ru">
    @@include('../layouts/head.html', {
    "title" :"Главная"
    })
    
    <body>
        @@include('../layouts/header.html', {})
        <main>
            @@include('../layouts/promo.html', {})

            @@include('../layouts/trade-offer.html', {})
        
            @@include('../layouts/portfolio.html', {})
            
            @@include('../layouts/advantages.html', {})

            @@include('../layouts/dignities.html', {})

            @@include('../layouts/consultation.html', {})
        </main>
        @@include('../layouts/footer.html', {})
        <script src="js/app.min.js"></script>
    </body>
</html>