@import "../../resources/scss/fonts.scss";
@import "../../node_modules/swiper/swiper-bundle.css";
@import "../../resources/scss/slider.scss";
@import "../../resources/scss/default.scss";
@import "../../resources/scss/mobile.scss";
@import "../../resources/scss/adaptive.scss";

.header {

    background: var(--Bg, #ffffff);

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo-inner {
        align-items: center;
        display: flex;
        gap: 20px;

        h4 {
            width: 180px;
            padding-top: 10px;
        }
    }

    &__connection {
        display: flex;
        gap: 50px;

    }

    .connection {
        padding-top: 25px;
        gap: 85px;

        &__inner {
            max-width: 313px;
            display: flex;
            flex-direction: column;
            gap: 5px;

        }

        &__link {
            display: flex;
            align-items: center;
            gap: 5px;

            &-text {
                color: var(--Color-a, #614F44);
                font-weight: 700;
            }
        }
    }

}

.promo {
    position: relative;
    background: var(--Bg, #ffffff);
    padding-top: 100px;
    &__under {
        position: absolute;
        z-index: 1;
        background: linear-gradient(0deg, #F5F4F4 9%, rgba(245, 244, 244, 0.00) 100%);
        bottom: 0;
        object-fit: cover;
        display: none;
    }

    &__img {
        position: absolute;
        right: 0;
        top: -1rem;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        h1 {
            max-width: 785px;
        }

        h2 {
            max-width: 530px;
        }

    }


    &__button {
        z-index: 3;
        margin: 20px 0 100px;

        h3 {
            color: white;
            text-transform: uppercase;
        }

    }

    &__down {
        display: none;
    }

    

    .convenience {
        display: flex;
        gap: 10px;

        &__inner {
            z-index: 5;
            width: 284px;
            border-radius: 10px 0px 0px 10px;
            background-color: white;
            position: relative;

            &--1 {
                border-radius: 10px 0px 0px 10px;
            }

            &--3 {
                border-radius: 0 10px 10px 0;
            }

        }

        &__info {
            padding: 30px 20px 20px;
            display: flex;

        }

        &__icon {
            position: absolute;
            top: -25px;
            left: 20px;
        }

        &__bullet {
            position: absolute;
        }

        h3 {
            padding-left: 17px;
        }
    }

}

.block__shadow {
    width: 100%;
    height: 500px;
    background: linear-gradient(0deg, #F5F4F4 9%, rgba(245, 244, 244, 0.00) 100%);
    z-index: 2;
    position: absolute;
    bottom: -120px;
    left: 0;
}

.trade-offer {
    margin-top: 200px;
    background: var(--Bg, #F5F4F4);

    &__inner {
        height: 700px;
        justify-content: right;
        border-radius: 20px;
        background: var(--White, #FFF);
        position: relative;
        background-position-x: right;
        background-position-y: bottom;

    }

    &__img {
        position: absolute;
        top: 140px;
        height: 70%;

    }

    &__img-inner {
        display: none;
    }


    &__info {
        display: flex;
        flex-direction: column;
        width: 50em;
        position: absolute;
        gap: 20px;
        right: 0;
        padding-right: 40px;
        padding-top: 30px;

        h5 {
            margin-left: 50px;

            u {
                color: var(--Color-a, #614F44);
            }
        }
    }

    &__name {
        width: 200px;
        display: flex;
        height: 40px;
        padding: 10px 11px;
        gap: 10px;
        border-radius: 7px;
        background: var(--Color-b, #CFC7C2);
        justify-content: center;
        margin-left: 50px;

    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 530px;

        h3 {
            max-width: 530px;
            margin-left: 50px;

        }
    }

    &__button {
        margin-top: 20px;
        width: 350px;
        height: 60px;
        margin-left: 50px;
        h3 {
            color: white;
        }
    }
}

.advantages {
    padding-top: 120px;
    background-color: white;
    background-position: 360px 45px;

    &__inner {
        background-position: 50px 30px;
        height: fit-content
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 45vw;
        gap: 20px;

        h5 {
            color: var(--Color-a, #614F44);

            u {
                font-weight: 700;
            }
        }

        h2 {
            margin-bottom: 40px;
        }
    }

    &__blocks {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 20px;

        &--double {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__block {
        display: flex;
        width: 310px;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        border-radius: 20px;
        background: var(--White, #FFF);
        box-shadow: 0px 0px 10.2px 0px rgba(97, 79, 68, 0.08);
    }

    &__icon {
        width: 60px;
        height: 60px;
    }

    &__text {
        h3 {
            color: var(--Color-a, #614F44);
        }
    }
    .block-shadow {
        width: 100vw;
        height: 120px;
        background: linear-gradient(0deg, #F5F4F4 9%, rgba(245, 244, 244, 0.00) 100%);
    }
}

.dignities {
    &__inner {
        border-radius: 20px;
        background: var(--White, #FFF);
        padding-bottom: 40px;
        margin-top: -75px;
    }

    &__info {
        margin: 0 0 60px 40px;
        padding-top: 40px;

        h5 {
            color: var(--Color-a, #614F44);
            width: 50vw;

            u {
                font-weight: 700;
            }
        }
    }

    .grid {
        justify-content: center;
        margin: auto;
        display: grid;
        gap: 18px;
        margin: 0 40px;
        grid-template-columns: repeat(22, 1fr);
        grid-auto-rows: minmax(1vh, auto);

        margin-bottom: 20px;

        &__item {
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 10px;
            background: var(--White, #ffffff);
            box-shadow: 0px 0px 10.2px 0px rgba(97, 79, 68, 0.08);

            .orange {
                margin: 0 auto;
            }

            &-A {
                grid-column: 1/5;
                grid-row: 1/10;
                background: var(--Color-b, #CFC7C2);
            }

            &-B {
                grid-column: 5/11;
                grid-row: 1/10;
                background: var(--Color-b, #CFC7C2);
            }

            &-C {
                grid-column: 11/16;
                grid-row: 1/10;
            }

            &-D {
                grid-column: 16/23;
                grid-row: 1/10;

                .orange {
                    margin: 0;
                }
            }

            &-E {
                grid-column: 1/5;
                grid-row: 10/16;
                text-align: center;
                align-items: center;
                background: #F5F4F4;
            }

            &-F {
                grid-column: 5/9;
                grid-row: 10/16;
                text-align: center;
                align-items: center;
                background: #F5F4F4;

                h2 {
                    margin-top: 10px;

                }
            }

            &-G {
                grid-column: 9/13;
                grid-row: 10/16;
                text-align: center;
                align-items: center;
                background: #F5F4F4;
            }

            &-H {
                grid-column: 13/23;
                grid-row: 10/16;
                background: var(--Color-b, #CFC7C2);
            }
        }
    }
}

.footer {
    margin-bottom: 60px;

    &__content {
        border-radius: 30px;
        background: var(--Black, #212121);
        width: 94vw;
        margin: 0 auto;
        margin-top: 120px;
        padding: 3vw 0;
    }

    &__item {
        display: flex;
        padding: 15px;

        h2,
        h3,
        h4 {
            color: white;
        }

        &--icon {
            display: flex;
            align-items: center;
            gap: 20px;

            h4 {
                width: 10vw;
            }
        }
    }

    .connection {
        display: flex;
        gap: 120px;

        &__inner {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__link {
            font-size: 32px;
        }

    }

    &__top {
        display: flex;
        justify-content: space-between;

    }

    &__logo-inner {
        display: flex;
        align-items: center;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 6vw;

        .footer__item {
            gap: 10px;

            h2,
            h3,
            h4 {
                color: var(--Color-b, #CFC7C2);
            }
        }
    }

}

.portfolio {

    margin-top: 90px;
    padding-top: 60px;
    background-color: white;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 60vw;
    }





}