<section class="consultation">

    <div class="consultation__inner">

        <div class="consultation__close">
            &#10006;
        </div>

        <div class="consultation__text">

            <h5>Консультация</h5>
            <h3>Оставьте заявку и мы перезвоним в течение 5 минут</h3>

        </div>

        <div class="consultation__blocks">

            <div class="consultation__input">ФИО*</div>

            <div class="consultation__input">Номер телефона*</div>

        </div>

        <div class="consultation__data">
            <div class="checkbox"></div>
            <h4>Я даю своё согласие на обработку персональных данных и соглашаюсь с политикой конфиденциальности</h4>
        </div>

        <button class="consultation__button button">Отправить</button>

    </div>

</section>