<div class="overlay"></div>

<section class="consultation">

    <div class="consultation__inner">
        <div class="consultation__content">

            <div class="consultation__close">
                <img src="../../img/icon/close.png" alt="" class="">
            </div>

            <div class="consultation__text">

                <h5>Консультация</h5>
                <h3>Оставьте заявку и мы перезвоним в течение 5 минут</h3>

            </div>

            <div class="consultation__blocks">

                <input class="consultation__input Fio" type="text" name="FIO" placeholder="ФИО*" required>

                <input id="phone" class="consultation__input phone" type="tel" name="phone" placeholder="Номер телефона*" required>

            </div>

            <div class="consultation__data">
                <label class="consultation__label">
                    <input class="consultation__checkbox" type="checkbox" name="personalData">

                    <span class="consultation__checkbox--custom"></span>

                    <style>
                        .consultation__checkbox--custom::before {
                            background-image: url(../../img/icon/Vector.png);
                            background-repeat: no-repeat;
                        }
                    </style>

                    <h4>Я даю своё согласие на обработку персональных данных и соглашаюсь с политикой конфиденциальности
                    </h4>

                </label>
            </div>

            <button class="consultation__button button"><h3>Отправить</h3></button>

        </div>
    </div>

</section>