<section class="dignities">
    <div class="dignities__inner container">

        <div class="dignities__info">
            <h5><u> Предлагаем не только </u> долговечные торговые павильоны, <u> но и </u> обспечиваем лучшим сервисом
            </h5>
        </div>

        <div class="dignities__grid grid">

            <div class="grid__item grid__item--img A">
                <img class="grid__img" src="" alt="">
            </div>

            <div class="grid__item grid__item--img B">
                <img class="grid__img" src="" alt="">
            </div>

            <div class="grid__item grid__item--text C">
                <img class="grid__icon" src="" alt="">
                <h3 class="orange">Не ждете по несколько часов или дней, покавам просчитают проект.</h3>
                <h3>Отвечаем на Вашу заявку в течение 10 секунд и отправляемдетальное КП с расчетом в этот же день.</h3>
            </div>

            <div class="grid__item grid__item--text D">
                <img class="grid__icon" src="" alt="">
                <h3 class="orange">Работаем «под ключ» для Вашего удобства.</h3>
                <h3>Вам достаточно иметь ТЗ или только идею. Мы смоделируем, сделаем лучшее предложение по цене,
                    изготовим, доставим и установим. С отчетностью на каждом этапе.</h3>
            </div>

            <div class="grid__item grid__item--warranty E">
                <h5 class="orange">12</h5>
                <h3>месяцев гарантия на материалы и комплектующие</h3>
            </div>

            <div class="grid__item grid__item--warranty F">
                <h2>Гарантия соблюдения сроков по договору</h2>
            </div>

            <div class="grid__item grid__item--warranty G">
                <h5 class="orange">3</h5>
                <h3>месяцев гарантия на материалы и комплектующие</h3>
            </div>

            <div class="grid__item grid__item--img H">
                <img class="grid__img" src="" alt="">
            </div>

        </div>
    </div>
</section>