<footer>
    <div class="footer_content">
        <div class="footer__inner container">
            <div class="footer__grid grid">
                <div class="grid__container">
                    <div class="grid__item"><img src="" alt="" class="footer__img"></div>
                    <div class="grid__item--text"><h4>Производство торговых павильонов под ключ</h4></div>
                </div>
                <div class="grid__container">
                    <div class="grid__item"><h3>Звоните, мы сейчас на связи</h3></div>
                    <div class="grid__item--text"><h6>+7 918 03 555 02</h6></div>
                </div>
                <div class="grid__container">
                    <div class="grid__item"><h3>Почта</h3></div>
                    <div class="grid__item--text"><h6>zakaz@mail.ru</h6></div>
                </div>
            </div>
        </div>
    </div>
</footer>