<section class="portfolio">
  <div class="portfolio__inner">
    <div class="portfolio__text">

    </div>
    <div class="portfolio__card card">
      <div class="swiper--standart swiper">
        <div class="swiper--standart-wrapper swiper-wrapper">

          <div class="swiper--standart-slide swiper-slide"><img class="swiper--standart-img slide" src="../../img/slides/slide-1.png" loading="lazy" alt=""></div>
          <div class="swiper--standart-slide swiper-slide"><img class="swiper--standart-img slide" src="../../img/slides/slide-2.png" loading="lazy" alt=""></div>
          <div class="swiper--standart-slide swiper-slide"><img class="swiper--standart-img slide" src="../../img/slides/slide-3.png" loading="lazy" alt=""></div>
          <div class="swiper--standart-slide swiper-slide"><img class="swiper--standart-img slide" src="../../img/slides/slide-4.png" loading="lazy" alt=""></div>

        </div>

        <div class="swiper--standart-button-prev swiper-button-prev"></div>
        <div class="swiper--standart-button-next swiper-button-next"></div>

      </div>



      <div class="swiper--mini swiper">
        <div class="swiper--mini-wrapper swiper-wrapper">

          <div class="swiper--mini-slide swiper-slide"><img class="swiper--mini-img-mini slide" src="../../img/slides/slide-1.png" loading="lazy" alt=""></div>
          <div class="swiper--mini-slide swiper-slide"><img class="swiper--mini-img-mini slide" src="../../img/slides/slide-2.png" loading="lazy" alt=""></div>
          <div class="swiper--mini-slide swiper-slide"><img class="swiper--mini-img-mini slide" src="../../img/slides/slide-3.png" loading="lazy" alt=""></div>
          <div class="swiper--mini-slide swiper-slide"><img class="swiper--mini-img-mini slide" src="../../img/slides/slide-4.png" loading="lazy" alt=""></div>

        </div>

        <div class="swiper--mini-button-prev swiper-button-prev"></div>
        <div class="swiper--mini-button-next swiper-button-next"></div>

      </div>
    </div>
    <div class="portfolio__card-info">

    </div>
  </div>
</section>