<section class="portfolio">

  <div class="portfolio__inner container">

    <div class="portfolio__text">
      <h5>За 9 лет работы выполнили <u> более 450 проектов</u></h5>
      <h2>Каждый проект, представленный на фото, является работой ДДОМ и подтверждается проектной документацией
        по вашему запросу.</h2>
    </div>

    <div class="portfolio__card card">

      <div class="swipers">


        <!-- <div class="swiper--large swiper">

          <div class="swiper--large__wrapper swiper-wrapper">
        
            <div class="swiper--large__slide swiper-slide"><img class="swiper--large__img slide"
                src="../../img/slides/slide-1-large.png" loading="lazy" alt=""></div>
            <div class="swiper--large__slide swiper-slide"><img class="swiper--large__img slide"
                src="../../img/slides/slide-2-large.png" loading="lazy" alt=""></div>
            <div class="swiper--large__slide swiper-slide"><img class="swiper--large__img slide"
                src="../../img/slides/slide-3-large.png" loading="lazy" alt=""></div>
            <div class="swiper--large__slide swiper-slide"><img class="swiper--large__img slide"
                src="../../img/slides/slide-4-large.png" loading="lazy" alt=""></div>
        
          </div>
        
          <div class="swiper--large__button-prev swiper-button-prev"></div>
          <div class="swiper--large__button-next swiper-button-next"></div>
        
        
          <div class="swiper-pagination"></div>
          
        </div> -->









        <div class="swiper--standart swiper">

          <div class="swiper--standart__wrapper swiper-wrapper">

            <div class="swiper--standart__slide swiper-slide"><img class="swiper--standart__img slide"
                src="../../img/slides/slide-1.png" loading="lazy" alt=""></div>
            <div class="swiper--standart__slide swiper-slide"><img class="swiper--standart__img slide"
                src="../../img/slides/slide-2.png" loading="lazy" alt=""></div>
            <div class="swiper--standart__slide swiper-slide"><img class="swiper--standart__img slide"
                src="../../img/slides/slide-3.png" loading="lazy" alt=""></div>
            <div class="swiper--standart__slide swiper-slide"><img class="swiper--standart__img slide"
                src="../../img/slides/slide-4.png" loading="lazy" alt=""></div>

          </div>

          <div class="swiper--standart__button-prev swiper-button-prev"></div>
          <div class="swiper--standart__button-next swiper-button-next"></div>

        </div>



        <div class="swiper--mini swiper">
          <div class="swiper--mini__wrapper swiper-wrapper">

            <div class="swiper--mini__slide swiper-slide"><img class="swiper--mini-img-mini slide"
                src="../../img/slides/slide-1-mini.png" loading="lazy" alt=""></div>
            <div class="swiper--mini__slide swiper-slide"><img class="swiper--mini-img-mini slide"
                src="../../img/slides/slide-2-mini.png" loading="lazy" alt=""></div>
            <div class="swiper--mini__slide swiper-slide"><img class="swiper--mini-img-mini slide"
                src="../../img/slides/slide-3-mini.png" loading="lazy" alt=""></div>
            <div class="swiper--mini__slide swiper-slide"><img class="swiper--mini-img-mini slide"
                src="../../img/slides/slide-4-mini.png" loading="lazy" alt=""></div>
          </div>

        </div>

      </div>



      







      <div class="portfolio__card-info card-info">

        <ul class="card-info__list list">

          <li class="list__item">
            <img src="../../img/icon/Card-bullet.png" alt="" class="list__bullet">
            <h2> <u class="orange">Срок реализации:</u> 22 календарных дня</h2>
          </li>

          <li class="list__item">
            <img src="../../img/icon/Card-bullet.png" alt="" class="list__bullet">
            <h2> <u class="orange">Размер (ДхШхВ):</u> 9х18хб м</h2>
          </li>

          <li class="list__item">
            <img src="../../img/icon/Card-bullet.png" alt="" class="list__bullet">
            <h2> <u class="orange">Площадь:</u> 201.3 м2</h2>
          </li>

        </ul>

        <div class="card-info__blocks">

          <div class="card-info__block block">
            <img src="../../img/icon/Location.png" alt="" class="block__item">
            <h3>Краснодарский край: <br> г. Краснодар </h3>
          </div>

          <div class="card-info__block block">
            <img src="../../img/icon/Date.png" alt="" class="block__item">
            <h3>Дата постройки: <br> 22.09.2019 </h3>
          </div>

        </div>

        <div class="card-info__cost cost">
          
          <div class="cost__money">
            <h3>Стоимость павильона:</h3>
            <h2>1.250.000 ₽</h2>
          </div>

          <button class="cost__button button"><h3>рассчитать стоимость</h3></button>

          <h4>*Ответьте на несколько вопросов, чтобы рассчитать стоимость необходимого Вам сооружения</h4>

        </div>

      </div>
    </div>

  </div>
</section>

