<section class="promo" style="background-image: url(../../img/main/top_abstaction.png); background-repeat: no-repeat ">
    <div class="promo__inner container">
        <img class="promo__under" src="../../img/main/promo_blur.png" alt="">
        <div class="promo__info">
            <img class="promo__img" src="../../img/main/promo.png" alt="Ddom">
            <h1>Утепленный <u class="orange">торговый павильон</u> из сэндвич-панелей на вашей площадке уже через 21
                день </h1>
            <h2>Получите бесплатный расчёт вашего павильона с выгодой до 30% за счёт собственного производства</h2>
            <button class="promo__button button">
                <h3>Расчитать стоимость</h3>
            </button>
        </div>
        <div class="promo__convenience convenience">
            <div class="convenience__inner convenience__inner--1">
                <img class="convenience__icon" src="../../img/icon/Doc.png" alt="Документация">
                <div class="convenience__info">
                    <img class="convenience__bullet" src="../../img/icon/Bullet.png" alt="">
                    <h3>Предоставляем документацию и работаем по договору</h3>
                </div>
            </div>
            <div class="convenience__inner convenience__inner--2">
                <img class="convenience__icon" src="../../img/icon/Security.png" alt="100% Приемки">
                <div class="convenience__info">
                    <img class="convenience__bullet" src="../../img/icon/Bullet.png" alt="">
                    <h3>100% гарантия приёмки администрацией города</h3>
                </div>
            </div>
            <div class="convenience__inner convenience__inner--3">
                <img class="convenience__icon" src="../../img/icon/Size.png" alt="Бесплатные замеры">
                <div class="convenience__info">
                    <img class="convenience__bullet" src="../../img/icon/Bullet.png" alt="">
                    <h3>Приедем и произведём замеры за 0 рублей</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="promo__down">
        <img class="promo__down--img" src="../../img/main/promo.png" alt="Ddom">
    </div>
</section>