<section class="trade-offer">
    <div class="trade-offer__inner container"
        style="background-image: url(../../img/main/Vector.png); background-repeat: no-repeat ">
        <img class="trade-offer__img" src="../../img/main/trade-offer.png" alt="Ddom">
        <div class="trade-offer__info">
            <h1>«Строим торговые павильоны <u> с гарантией на монтаж 36 мес. </u> по всему Краснодарскому краю»</h1>
            <div class="trade-offer__name">
                <h3>Ген директор: Елварди</h3>
            </div>
            <div class="trade-offer__text">
                <h3>Имеем собственное производство быстровозводимых торговых павильонов, ларьков, киосков, торговых
                    рядов из сэндвич-панелей.</h3>
                <h3>Не боимся давать гарантии, используя только сертифицированные материалы и работаем сфиксированной
                    ценой в договоре.</h3>
            </div>
            <button class="trade-offer__button button">
                <h3>Обсудить ваш проект со мной</h3>
            </button>
        </div>
        <div class="trade-offer__img-inner">
            <img class="img" src="../../img/main/trade-offer.png" alt="Ddom">
        </div>
    </div>
</section>