<section class="dignities">
  <div class="dignities__inner container">
    <div class="dignities__info info">
      <h5 class="info__text">
        Предлагаем не только
        <u class="grey-color"> долговечные торговые павильоны, </u> но и
        <u class="grey-color">обспечиваем лучшим сервисом </u>
      </h5>
    </div>

    <div class="dignities__grid grid">
      <div class="grid__item grid__item-A">
        <img class="grid__img" src="" alt="" />
      </div>

      <div class="grid__item grid__item-B">
        <img class="grid__img" src="" alt="" />
      </div>

      <div class="grid__item grid__item-C">
        <img class="grid__icon" src="@img/icon/Time.png" alt="" />
        <h3 class="orange-color">
          Не ждете по несколько часов или дней, покавам просчитают проект.
        </h3>
        <h3 class="grid-item__text">
          Отвечаем на Вашу заявку в течение 10 секунд и отправляем детальное
          КП с расчетом в этот же день.
        </h3>
      </div>

      <div class="grid__item grid__item-D">
        <img class="grid__icon" src="@img/icon/Keys.png" alt="" />
        <h3 class="orange-color">Работаем «под ключ» для Вашего удобства.</h3>
        <h3 class="grid-item__text">
          Вам достаточно иметь ТЗ или только идею. Мы смоделируем, сделаем
          лучшее предложение по цене, изготовим, доставим и установим.
          С отчетностью на каждом этапе.
        </h3>
      </div>

      <div class="grid__item grid__item-E">
        <h5 class="orange-color">12</h5>
        <h3 class="grid-item__text">месяцев гарантия на материалы и комплектующие</h3>
      </div>

      <div class="grid__item grid__item-F">
        <h2 class="grid-item__text">Гарантия соблюдения сроков по договору</h2>
      </div>

      <div class="grid__item grid__item-G">
        <h5 class="orange-color">3</h5>
        <h3 class="grid-item__text">месяцев гарантия на материалы и комплектующие</h3>
      </div>

      <div class="grid__item grid__item-H">
        <img class="grid__img" src="" alt="" />
      </div>
    </div>
  </div>
</section>
