



.promo {
  position: relative;
  background: var(--Bg, #ffffff);
  padding-top: 180px;

  &__under {
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg, #f5f4f4 9%, rgba(245, 244, 244, 0) 100%);
    bottom: 0;
    object-fit: cover;
    display: none;
  }

  &__img {
    position: absolute;
    right: 0;
    top: -1rem;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    h2 {
      max-width: 530px;
    }
  }

  &__text {
    max-width: 785px;
  }

  &__button {
    z-index: 3;
    margin: 20px 0 100px;

    .button__text {
      color: white;
      text-transform: uppercase;
    }
  }

  &__down {
    display: none;
  }

  .convenience {
    display: flex;

    &__inner {
      z-index: 5;
      width: 284px;
      background-color: white;
      position: relative;
      list-style-type: disc;

      &--1 {
        border-radius: 10px 0px 0px 10px;
      }

      &--3 {
        border-radius: 0 10px 10px 0;
      }
    }
    &__item {
      list-style-image: url(../../../img/icon/Bullet.svg)

    }
    &__info {
      padding: 30px 34px 20px;
      display: flex;
    }

    &__icon {
      position: absolute;
      top: -25px;
      left: 20px;
    }

    // &__text {
    //     padding-left: 17px;
    // }


    &__shadow {
      width: 7px;
      height: 100px;
      opacity: 0.7;
      z-index: 10;
      background: linear-gradient(
        90deg,
        #e6e6e6 0%,
        rgba(0, 0, 0, 0.048) 100%
      );
      filter: blur(2px);
    }
  }

  .block__shadow {
    width: 100%;
    height: 500px;
    background: linear-gradient(0deg, #f5f4f4 9%, rgba(245, 244, 244, 0) 100%);
    z-index: 2;
    position: absolute;
    bottom: -120px;
    left: 0;
  }
}

@media (max-width: 1315px) {
  .promo {
    &__inner {
      width: 90vw;
    }

    &__abstraction {
      height: 60vh;
    }

    &__img {
      right: 0.8rem;
      top: 5rem;
      width: 35rem;
    }
    .block__shadow {
      bottom: 0;
  
    }
  }
  
}

@media (max-width: 985px) {
  .promo {
    margin-top: 30px;
    background-position-x: 88px;
    background-size: 100% 33%;
    padding-top: 50px;

    &__img {
      display: none;
    }

    &__info {
      padding-left: 30px;
      padding-right: 20px;
    }

    &__button {
      margin: 20px 0 50px;
    }

    &__down {
      padding: 0 20px;
      display: flex;
      justify-content: center;

      &--img {
        z-index: 2;
        width: 35rem;
        height: 29rem;
        object-fit: scale-down;
      }
    }

    .convenience {
      padding-left: 30px;
      padding-right: 20px;
      }
      .block__shadow {
        bottom: 0;
        height: 400px;
      }
  }
}

@media (max-width: 775px) {
  .promo {
    background-position-x: 40px;
    background-size: 100% 36%;

    &__inner {
      width: 100vw;
    }
  }
}

@media (max-width: 600px) {
  .promo {
    background-position-x: 20px;
    background-size: 100% 34%;
    margin-top: 60px;

    &__under {
      display: none;
    }

    &__abstraction {
      height: 65vh;
    }

    &__info {
      padding-left: 15px;
    }

    &__button {
      margin: 20px 0 50px;
    }

    .convenience {
      flex-direction: column;
      padding-left: 15px;

      &__inner {
        width: 65vw;
        border-radius: 0px;
        height: 100px;
      }

      &__info {
        width: 65vw;
      }

      &__shadow {
        width: 65vw;
        height: 7px;
        opacity: 0.7;
        z-index: 10;
        background: linear-gradient(
          180deg,
          #e6e6e6 0%,
          rgba(0, 0, 0, 0.048) 100%
        );
        filter: blur(2px);
      }
    }
  }
}


@media (max-width: 475px) {
  .promo {
    background-position-x: 25px;
    background-size: 100% 33%;
    .block__shadow {
      height: 500px;
    }
  }
}

@media (max-width: 375px) {
  .promo {
    background-size: 100% 24%;
    padding-top: 45px;

    &__abstraction {
      height: 35vh;
      left: 24px;
    }

    &__button {
      width: 75vw;
    }

    &__down {
      padding: 0;

      &--img {
        height: 25vh;
        margin-top: 30px;
      }
    }

    .convenience {
      &__info {
        padding-bottom: 25px;
      }
    }
    .block__shadow {
      height: 300px;
      bottom: -10px;
    }
  }
}
