<section
  class="promo"
  style="
    background-image: url(@img/main/top_abstaction.png);
    background-repeat: no-repeat;
  "
>
  <div class="promo__inner container">
    <div class="promo__info">
      <img class="promo__img" src="@img/main/top_man.png" alt="Ddom" />
      <h1 class="promo__text">
        Утепленный <u class="orange-color">торговый павильон</u> из
        сэндвич-панелей на вашей площадке уже через 21 день
      </h1>
      <h2 class="promo__text">
        Получите бесплатный расчёт вашего павильона с выгодой до 30% за счёт
        собственного производства
      </h2>
      <button class="promo__button button">
        <h3 class="button__text">Расчитать стоимость</h3>
      </button>
    </div>
    <div class="promo__convenience convenience">
      <ul class="convenience__inner convenience__inner--1">
        <img
          class="convenience__icon"
          src="@img/icon/Doc.svg"
          alt="Документация"
        />
        <div class="convenience__info">
          <li class="convenience__item"><h3 class="convenience__text">Предоставляем документацию и работаем по договору</h3></li>
        </div>
      </ul>

      <div class="convenience__shadow"></div>

      <ul class="convenience__inner convenience__inner--2">
        <img
          class="convenience__icon"
          src="@img/icon/Security.svg"
          alt="100% Приемки"
        />
        <div class="convenience__info">
          <li class="convenience__item"><h3 class="convenience__text">100% гарантия приёмки администрацией города</h3></li>
        </div>
      </ul>

      <div class="convenience__shadow"></div>

      <ul class="convenience__inner convenience__inner--3">
        <img
          class="convenience__icon"
          src="@img/icon/Size.svg"
          alt="Бесплатные замеры"
        />
        <div class="convenience__info">
          <li class="convenience__item"><h3 class="convenience__text">Приедем и произведём замеры за 0 рублей</h3></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="block__shadow"></div>
  <div class="promo__down">
    <img class="promo__down--img" src="@img/main/top_man.png" alt="Ddom" />
  </div>
</section>
