<footer class="footer">
    <div class="footer__content">
        <div class="footer__inner container">
            <div class="footer__top">
                <div class="footer__item footer__item--icon">
                    <img class="footer__logo" src="@img/icon/footer__logo.png" alt="">
                    <h4>Производство торговых павильонов под ключ</h4>
                </div>
                <div class="footer__item connection">

                    <div class="connection__inner">
                        <h3>Звоните, мы сейчас на связи</h3>
                        <a href="#">
                            <h2 class="connection__link">+7 918 03 555 02</h2>
                        </a>
                    </div>

                    <div class="connection__inner">
                        <h4>Почта</h4>
                        <a href="#">
                            <h2 class="connection__link">zakaz@mail.ru</h2>
                        </a>
                    </div>

                </div>
            </div>

            <div class="footer__bottom">
                <div class="footer__item">
                    <h3>© 2022 HOMEFORT. Все права защищены</h3>
                </div>
                <div class="footer__item">
                    <h3>Разработано</h3>
                    <img src="@img/icon/IT-format.png" alt="">
                </div>
                <div class="footer__item">
                    <h3>Политика конфиденциальности</h3>
                </div>
            </div>
        </div>
    </div>
</footer>