doctype html
html(lang="en")
    head
        link(href='css/style.min.css')
    body
        include html/header
        header main.page
            h1 ДА, Я Я
            img(src="@img/IMG_8135.JPG")
        include html/footer
        script(src='js/app.min.js') 